/problema1/Ejecutar_01_04_1/nbproject/private/
/problema1/Ejecutar_01_04_1/build/
/problema1/Ejecutar_01_04_1/dist/
/problema3/Ejecutar_02_04_2/nbproject/private/
/problema3/Ejecutar_02_04_2/build/
/problema3/Ejecutar_02_04_2/dist/
/problema2/Ejecutar_02_04_1/nbproject/private/
/problema2/Ejecutar_02_04_1/build/
/problema2/Ejecutar_02_04_1/dist/
/problema4/Ejecutar_04_04_1/nbproject/private/
/problema4/Ejecutar_04_04_1/build/
/problema4/Ejecutar_04_04_1/dist/
